<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataFolder"   value="C:\Users\theok\Repos\FactCheckThisBitch\Source\VideoFromArticle.Windows\data"/>
    <add key="AssetsFolder" value="C:\Users\theok\Repos\FactCheckThisBitch\Media\Assets"/>
    <add key="OutputFolder" value="C:\Users\theok\Repos\FactCheckThisBitch\Source\VideoFromArticle.Windows\output"/>
  </appSettings>
</configuration>