<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFolder" value="C:\Users\theok\source\repos\FactCheckThisBitch\FactCheckThisBitch.Admin.Windows\data"/>
    <add key="AssetsFolder" value="C:\Users\theok\source\repos\FactCheckThisBitch\Media\Assets"/>
    <add key="OutputFolder" value="C:\Users\theok\source\repos\FactCheckThisBitch\FactCheckThisBitch.Admin.Windows\output"/>
    <add key="Languages" value="EN,GR"/>
  </appSettings>
</configuration>